body {
	background-color: lightblue;
}

.image img {
	max-width: 100%;
}

.product {
	width: 400px;
	border: solid black 2px;
}

.description > * {
	text-align: center;
	margin: 0;
}

.description {
	padding: 2%;
}

.description h6 {
	font-size: 1.5em;
	padding: 2%;
}

.title {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Cairo', sans-serif;

}

